#list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    & > .period {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 10px;
        background: var(--background-tertiary);

        & > .header {
            display: flex;
            padding: 12px 20px;
            align-items: center;
            gap: 12px;
            align-self: stretch;
            border-bottom: 1px solid #2e2c30;

            & > img {
                width: 20px;
                height: 20px;
            }

            & > h4 {
                all: unset;
                flex: 1 0 0;
                color: var(--content-primary);
                font: var(--label-large);
            }

            & > p {
                all: unset;
                color: var(--content-secondary);
                text-align: right;

                font: var(--label-large);
            }
        }

        & > .clients {
            display: flex;
            padding: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;

            & > .client {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 12px;
                gap: 4px;
                align-self: stretch;

                &:not(:last-of-type) {
                    border-bottom: 0.6px solid #353339;
                }

                & > .schedule-info {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    & > .hour {
                        margin: 0px;
                        color: var(--content-primary);
                        font: var(--label-medium);
                    }

                    & > .names {
                        display: flex;
                        gap: 4px;

                        & > strong {
                            color: var(--content-primary);
                            font: var(--label-medium);
                        }

                        & > span {
                            color: var(--content-secondary);
                            font: var(--paragraph-medium);
                        }
                    }
                }

                & > .description {
                    color: var(--content-secondary);
                    font: var(--paragraph-medium);
                }

                & > .cancel-link {
                    all: unset;
                    align-self: flex-end;
                    color: var(--content-tertiary);
                    font: var(--paragraph-small);
                    cursor: pointer;
                    text-align: right;

                    &:hover {
                        color: var(--content-primary);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (min-width: 60em) {
    .clients {
        gap: 12px !important;
        & > .client {
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center !important;

            & > .schedule-info {
                display: flex !important;

                & > .names {
                    & > strong {
                        font: var(--label-small) !important;
                    }

                    & > span {
                        font: var(--paragraph-small) !important;
                    }
                }
            }

            & > .description {
                font: var(--paragraph-small) !important;
            }

            & > .cancel-link {
                align-self: auto !important;
            }
        }
    }
}
